CLI/Cargo.lock
CLI/target
CLI/registry.db
CLI/shurikens
GUI/node_modules
GUI/package-lock.json
NSE/target
API/target
MCP/target
target
GUI/out
GUI/src-tauri/target
GUI/out
.pnpm-store/*
node_modules
package.json
pnpm-lock.yaml
GUI/src-tauri/binaries
include
sdk/ninja.so
dist/shurikenctl
