name: Test

on:
  push:
    branches: [ main, master, develop ]
  pull_request:
    branches: [ main, master, develop ]

jobs:
  test:
    name: Run Tests
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update && sudo apt install -y build-essential libglib2.0-dev pkg-config libgtk-3-dev libsoup-3.0-dev libjavascriptcoregtk-4.1-dev libwebkit2gtk-4.1-dev curl git

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Rust dependencies
        uses: swatinem/rust-cache@v2

      - name: Setup uv
        uses: astral-sh/setup-uv@v6

      - name: Install python
        run: uv python install

      - name: Build CLI (so the GUI doesn't complain)
        run: uv run build.py --cli-only

      - name: Run unit tests
        run: cargo test

      - name: Run integration tests
        run: cargo test -p tests
